.HotAccessories{
    display: flex;
    width: 90vw;
    margin: auto;
}
.HotAccessories > div:first-child >img{
    transition: all 0.5s;
   cursor: pointer;
    /* width: 22vw; */
}
.HotAccessories >div:last-child{
    display: flex;
    flex-wrap: wrap;
}